.spacex-filters {
  background-color: var(--white);
  border-radius: 5px;
  padding: 10px;
}

.filter-heading {
  text-align: center;
}

.launch-years, .launch-success {
  text-align: center;
}

.loader {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

/* large tablet & laptop styles */
@media screen and (min-width: 700px) {

  .spacex-filters {
    grid-column-start: 1;
    grid-column-end: 2;
    width: 35vw;
  }
}

/* desktop styles */
@media screen and (min-width: 1024px) {

  .spacex-filters {
    grid-column-start: 1;
    grid-column-end: 2;
    width: 25vw;
  }
}